/* @font-face {
  font-family: 'SF Pro', sans-serif;
  src: url('../fonts/sf-pro/SF-Pro-Display-Light.woff') format('woff'),
         url('../fonts/sf-pro/SF-Pro-Display-Light.wof2') format('wof2');
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: 'SF Pro', sans-serif;
  src: url('../fonts/sf-pro/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/sf-pro/SF-Pro-Display-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'SF Pro', sans-serif;
  src: url('../fonts/sf-pro/SF-Pro-Display-Medium.woff2') format('woff2'),
         url('../fonts/sf-pro/SF-Pro-Display-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: 'SF Pro', sans-serif;
  src: url('../fonts/sf-pro/SF-Pro-Display-Semibold.woff2') format('woff2'),
         url('../fonts/sf-pro/SF-Pro-Display-Semibold.woff') format('woff');
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: 'SF Pro', sans-serif;
  src: url('../fonts/sf-pro/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/sf-pro/SF-Pro-Display-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'SF Pro', sans-serif;
  src: url('../fonts/sf-pro/SF-Pro-Display-Heavy.woff2') format('woff2'),
         url('../fonts/sf-pro/SF-Pro-Display-Heavy.woff') format('woff');
  font-display: swap;
  font-weight: 900;
}

@font-face {
  font-family: 'TT Travels', sans-serif;
  src: url('../fonts/tt-travels/TT-Travels-Regular.woff2') format('woff2'),
         url('../fonts/tt-travels/TT-Travels-Regular.woff') format('woff');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'TT Travels', sans-serif;
  src: url('../fonts/tt-travels/TT-Travels-Bold.woff2') format('woff2'),
         url('../fonts/tt-travels/TT-Travels-Bold.woff') format('woff');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'TT Travels', sans-serif;
  src: url('../fonts/tt-travels/TT-Travels-ExtraBold-talic.woff2') format('woff2'),
         url('../fonts/tt-travels/TT-Travels-ExtraBold-talic.woff') format('woff');
  font-display: swap;
  font-weight: 800;
} */